body {
  align-items: center;
  background: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
}

h1, h2, h3 { text-align: center; }
p+p { margin: 1.5rem 0 0 0; }
ul { margin: 1.5rem 0 1.5rem 0; }

button {
  background: pink;
  border: 0;
  color: #333;
  padding: 0.3rem 0.5rem;
}

button:hover {
  background: orange;
}

button:active {
  background: red;
  color: white;
}

button:focus, input:focus { outline: 0; }

.container { width: 800px; }

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo { width: 150px; }

section.content {
  margin: 0 0 2rem 0;
}

a { color: #ff697c; }
a:hover { color: #ffa0ac; }
a:active { color: #ff2641; }

nav a {
  color: #333333;
  text-decoration: none;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
}

.error {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

}

.warning {
  align-items: center;
  background: #f5f5f5;
  border-radius: 2px;
  color: #ff3b3f;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 2rem;
}

.warning > button {
  width: 75px;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section > h3 {
  margin: 0 0 2rem 0;
}

button {
  background: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  padding: 0.65rem 0.85rem;
  transition: background 0.4s;
}

button > a {
  color: #f5f5f5;
  text-decoration: none;
}

button > a:hover { color: white; }

button.new {
  background: #3eabb3;
  color: #f5f5f5;
  margin: 0 0 1rem 0;
}

button.new:hover { background: #4cc7d0; }
button.renew { background: #ff94a7; }
button.renew:hover { background: #f9acb9; }
button.submit { background: #e7a577; color: #f5f5f5; }
button.submit:hover { background: #ffb683; }
button.close { background: #a9a9a9; color: #f5f5f5;}
button.close:hover { background: #bbb; }

button.yes {
  background: #e7a577;
  color: #f5f5f5;
  margin: 0 1rem 0 0;
  width: 3.5rem;
}

button.yes:hover { background: #ffb683; }

button.no {
  background: #a9a9a9;
  color: #f5f5f5;
  width: 3.5rem;
}

button.no:hover { background: #bbb; }

input {
  border: 1px solid #e1e1e1;
  padding: 0.25rem 0.5rem;
}

.registration > h2 {
  margin: 1.5rem 0 2rem 0;
}

.form-container {
  margin: 0 0 1rem 0;
  width: 40%;
}

.form-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.form-field > select {
  width: 57.5%;
}

footer {
  margin: 3rem 0 2rem 0;
  text-align: center;
}

.breakdown {
  margin: -1rem 0 0 0;
  text-align: center;
}

table {
  margin: 0 0 1.5rem 0;
  text-align: left;
}

th, td { padding: 0 2rem 0 0; }
th:last-child, td:last-child { padding: 0; }

.sp {
  width: 32px;
  height: 32px;
}

.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

.success { text-align: center; }

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

img {
  max-width: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
